streamlit
langchain
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface

chromadb==0.4.24
sentence-transformers

pypdf
python-dotenv
google-generativeai

protobuf==3.20.3
opentelemetry-exporter-otlp-proto-grpc==1.20.0